<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="/admin/fragments :: head">
    <meta charset="UTF-8">
    <title>Task Management</title>
</head>
<body>
<div class="layout layout-nav-side">
    <div th:replace="/admin/fragments ::navbar_top"></div>

    <div class="main-container">
        <div th:replace="/admin/fragments ::navbar"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11 col-xl-10">
                    <div class="page-header mb-4">
                        <div class="media">
                            <img alt="Image" th:src="@{${users.photosImagePath}}" class="avatar avatar-lg mt-1" />
                            <div class="media-body ml-3">
                                &nbsp;
                                <h2>Welcome : <span class="mb-0" style="color: purple" sec:authentication="principal.authorities"></span></h2>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#teams" role="tab" aria-controls="teams" aria-selected="true">Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="false">Tasks</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="teams" role="tabpanel" data-filter-list="content-list-body">
                            <div class="row content-list-head">
                                <div class="col-auto" sec:authorize="hasAnyAuthority('Admin,Manage')">
                                    <h3>Teams</h3>
                                    <button class="btn btn-round" data-toggle="modal">
                                        <i class="material-icons"><a th:href="@{/teams/new}">add</a></i>
                                    </button>
                                </div>
                                <div class="col-auto" sec:authorize="hasAnyAuthority('Staff')">
                                    <h3>Teams</h3>
                                </div>
                                <form class="col-md-auto">
                                    <div class="input-group input-group-round">
                                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">filter_list</i>
                          </span>
                                        </div>
                                        <input type="search" class="form-control filter-list-input" placeholder="Filter teams" aria-label="Filter teams">
                                    </div>
                                </form>
                            </div>
                            <!--end of content list head-->
                            <div class="content-list-body row">

                                <th:block th:each="team : ${listAllTeams}">
                                <div class="col-md-6">
                                    <div class="card card-team">
                                        <div class="card-body" >
                                            <div class="dropdown card-options" sec:authorize="hasAnyAuthority('Admin,Manage')">
                                                <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons">more_vert</i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" >
                                                    <a class="dropdown-item" th:href="@{'/teams/edit/'+${team.id}}">Manage</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item text-danger" th:href="@{'/teams/delete/'+${team.id}}">Delete</a>
                                                </div>
                                            </div>
                                            <div class="card-title">
                                                <a href="#"><h5 data-filter-by="text">[[${team.name}]]</h5></a>
                                                <span>[[${team.name}]]</span>
                                                <span >[[${#lists.size(team.users) + ' Members'}]]</span>
                                            </div>
                                            <ul class="avatars">

                                                <li th:each="avatar : ${team.users}">
                                                    <a href="#" data-toggle="tooltip" th:title="${avatar.username}">
                                                        <img alt="Kenny Tran" class="avatar" th:src="@{${avatar.photosImagePath}}" />
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                </th:block>
                            </div>
                            <!--end of content-list-body-->
                        </div>
                        <div class="tab-pane fade" id="projects" role="tabpanel" data-filter-list="content-list-body">
                            <div class="content-list">
                                <div class="row content-list-head">
                                    <div class="col-auto">
                                        <h3>Projects</h3>
                                    </div>
                                    <form class="col-md-auto">
                                        <div class="input-group input-group-round">
                                            <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_list</i>
                            </span>
                                            </div>
                                            <input type="search" class="form-control filter-list-input" placeholder="Filter projects" aria-label="Filter Projects">
                                        </div>
                                    </form>
                                </div>
                                <!--end of content list head-->
                                <div class="content-list-body row">
                                    <th:block th:each="project : ${listAllProjects}">
                                        <div class="col-lg-6">
                                            <div class="card card-project">

                                                <div th:replace="admin/fragment_status :: progress_project(${project.projectStatus})"></div>

                                                <div class="card-body">
                                                    <div class="dropdown card-options" sec:authorize="hasAuthority('Admin')">
                                                        <button class="btn-options" type="button"
                                                                id="project-dropdown-button-1" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                            <i class="material-icons">more_vert</i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" th:href="@{'/projects/edit/'+${project.id}}">Edit</a>
                                                            <a class="dropdown-item" th:href="@{'/projects/delete/'+${project.id}}">Remove</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-title">
                                                        <a href="#"><h5 data-filter-by="text">[[${project.name}]]</h5>
                                                        </a>
                                                    </div>

                                                    <ul class="avatars">
                                                        <li th:each="avatar : ${project.users}">
                                                            <a href="#" data-toggle="tooltip" th:title="${avatar.username}">
                                                                <img alt="Kenny Tran" class="avatar" th:src="@{${avatar.photosImagePath}}" />
                                                            </a>
                                                        </li>
                                                    </ul>


                                                    <div class="card-title">
                                                        <h6 data-filter-by="text">[[${project.description}]]</h6>
                                                    </div>
                                                    <div class="card-meta d-flex justify-content-between">
                                                        <div class="d-flex align-items-center">
                                                            <i class="material-icons mr-1">playlist_add_check</i>
                                                            <span class="text-small"
                                                                  th:text="${#lists.size(project.users)} + ' Members'"></span>

                                                        </div>
                                                        <span class="text-small" th:text="${project.timeEnd.getDate() - project.timeStart.getDate() + ' Days'}">Due 4 days</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                                <!--end of content list body-->
                            </div>
                            <!--end of content list-->
                        </div>
                        <div class="tab-pane fade" id="tasks" role="tabpanel" data-filter-list="content-list-body">
                            <div class="row content-list-head">
                                <div class="col-auto">
                                    <h3>Tasks</h3>
                                </div>
                                <form class="col-md-auto">
                                    <div class="input-group input-group-round">
                                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">filter_list</i>
                          </span>
                                        </div>
                                        <input type="search" class="form-control filter-list-input" placeholder="Filter tasks" aria-label="Filter Tasks">
                                    </div>
                                </form>
                            </div>
                            <!--end of content list head-->
                            <div class="content-list-body">
                                <th:block th:each="task : ${listAllTasks}">
                                    <div class="card-list">
                                        <div class="card-list-head">
                                            <h6></h6>
                                            <div class="dropdown" sec:authorize="hasAnyAuthority('Admin','Manage')" >
                                                <button class="btn-options" type="button"
                                                        id="cardlist-dropdown-button-1"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="material-icons">more_vert</i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" >
                                                    <a class="dropdown-item" th:href="@{'/task/edit/' + ${task.id}}">Rename
                                                        Task</a>
                                                    <a class="dropdown-item text-danger" sec:authorize="hasAnyAuthority('Admin,Manage')"
                                                       th:href="@{'/task/delete/' + ${task.id}}">Remove Task</a>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card-list-body">
                                            <div class="card card-task">
                                                <div th:replace="admin/fragment_status :: progress_task(${task.status})"></div>
                                                <div class="card-body">
                                                    <div class="card-title">
                                                        <a href="#"><h6 data-filter-by="text">[[${task.name}]]</h6>
                                                        </a>
                                                        <span class="text-small">[[${task.description}]]</span><br>
                                                        <div th:replace="admin/fragment_status :: status_small(${task.status})"></div>
                                                        <span class="text-small" style="color: lightseagreen">Duo Date:
                                                            [[${task.timeEnd.getDate() - task.timeStart.getDate()} + ' Days ' +${task.dateTimeEnd}]]</span>
                                                    </div>
                                                    <div class="card-meta">
                                                        <ul class="avatars">

                                                            <li>
                                                                <a href="#" data-toggle="tooltip">
                                                                    <img alt="Kenny Tran" class="avatar"
                                                                         th:src="@{${task.user.photosImagePath}}"/>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                        <div class="d-flex align-items-center">
                                                            <i class="material-icons">playlist_add_check</i>
                                                            <span th:text="${#lists.size(task.user.id)} + '/1'"></span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                            <!--end of content list-->
                        </div>
                        <!--end of tab-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script th:replace="/admin/fragments ::script"></script>
</body>
</html>