<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="user">
    <div class="tab-pane fade" id="members" role="tabpanel">
        <div class="users-manage" data-filter-list="form-group-users">
            <div class="mb-3">
                <ul class="avatars text-center">

                    <li>
                        <img alt="Claire Connors"
                             src="assets/img/avatar-female-1.jpg" class="avatar"
                             data-toggle="tooltip" data-title="Claire Connors"/>
                    </li>

                    <li>
                        <img alt="Marcus Simmons" src="assets/img/avatar-male-1.jpg"
                             class="avatar" data-toggle="tooltip"
                             data-title="Marcus Simmons"/>
                    </li>

                    <li>
                        <img alt="Peggy Brown" src="assets/img/avatar-female-2.jpg"
                             class="avatar" data-toggle="tooltip"
                             data-title="Peggy Brown"/>
                    </li>

                    <li>
                        <img alt="Harry Xai" src="assets/img/avatar-male-2.jpg"
                             class="avatar" data-toggle="tooltip"
                             data-title="Harry Xai"/>
                    </li>

                </ul>
            </div>
            <div class="input-group input-group-round">
                <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">filter_list</i>
                                </span>
                </div>
                <input type="search" class="form-control filter-list-input"
                       placeholder="Filter members" aria-label="Filter Members">
            </div>
            <div class="form-group-users">

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input"
                           id="user-manage-1" checked>
                    <label class="custom-control-label" for="user-manage-1">
                                  <span class="d-flex align-items-center">
                                    <img alt="Claire Connors" src="assets/img/avatar-female-1.jpg" class="avatar mr-2"/>
                                    <span class="h6 mb-0" data-filter-by="text">Claire Connors</span>
                                  </span>
                    </label>
                </div>
            </div>
        </div>
</div>
</div>
</body>
</html>