<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="/admin/fragments ::head">
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="layout layout-nav-side">
    <div th:replace="/admin/fragments ::navbar_top"></div>
    <div class="main-container">
        <div th:replace="/admin/fragments ::navbar"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11 col-xl-10">
                    <div class="page-header">
                        <h1>Brand Concept and Design</h1>
                        <p class="lead">Research, ideate and present brand concepts for client consideration</p>
                        <div class="d-flex align-items-center">
                            <ul class="avatars">
                                <li th:each="user : ${listAllUsers}">
                                    <a href="#" data-toggle="tooltip" th:title="${user.username}">
                                        <img alt="Kenny Tran" class="avatar"
                                             th:src="@{${user.photosImagePath}}"/>
                                    </a>
                                </li>

                            </ul>
                            <button class="btn btn-round flex-shrink-0" data-toggle="modal"
                                    data-target="#user-invite-modal">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" role="tabpanel"
                             data-filter-list="card-list-body">
                            <div class="row content-list-head">
                                <div class="col-auto" sec:authorize="hasAnyAuthority('Admin,Manage')">
                                    <h3>Add Task</h3>
                                    <button class="btn btn-round" data-toggle="modal">
                                        <i class="material-icons"><a th:href="@{/task/new}">add</a></i>
                                    </button>
                                </div>
                                <div class="col-auto" sec:authorize="hasAnyAuthority('Staff')">
                                    <h3>Tasks</h3>
                                </div>
                                <form class="col-md-auto">
                                    <div class="input-group input-group-round">
                                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">filter_list</i>
                          </span>
                                        </div>
                                        <input type="search" class="form-control filter-list-input"
                                               placeholder="Filter tasks" aria-label="Filter Tasks">
                                    </div>
                                </form>
                            </div>
                            <!--end of content list head-->
                            <div th:if="${message != null}" class="alert alert-success text-center">
                                [[${message}]]
                            </div>
                            <div class="content-list-body" >
                                <th:block th:each="task : ${listAllTasks}">
                                    <div class="card-list">
                                        <div class="card-list-head">
                                            <h6 ></h6>
                                            <div class="dropdown" >
                                                <button class="btn-options" type="button"
                                                        id="cardlist-dropdown-button-1"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="material-icons">more_vert</i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" >
                                                    <a class="dropdown-item" th:href="@{'/task/edit/' + ${task.id}}">Rename
                                                        Task</a>
                                                    <a class="dropdown-item text-danger" sec:authorize="hasAnyAuthority('Admin,Manage')"
                                                       th:href="@{'/task/delete/' + ${task.id}}">Remove Task</a>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card-list-body">
                                            <div class="card card-task">
                                             <div th:replace="admin/fragment_status :: progress_task(${task.status})"></div>
                                                <div class="card-body">
                                                    <div class="card-title">
                                                        <a href="#"><h6 data-filter-by="text">[[${task.name}]]</h6>
                                                        </a>
                                                        <span class="text-small">[[${task.description}]]</span><br>
                                                        <div th:replace="admin/fragment_status :: status_small(${task.status})"></div>
                                                        <span class="text-small" style="color: lightseagreen ;">Duo Date:
                                                            [[${task.timeEnd.getDate() - task.timeStart.getDate()} + ' Days ' +${task.dateTimeEnd}]]</span>

                                                    </div>
                                                    <div class="card-meta">
                                                        <ul class="avatars">

                                                            <li>
                                                                <a href="#" data-toggle="tooltip">
                                                                    <img alt="Kenny Tran" class="avatar"
                                                                         th:src="@{${task.user.photosImagePath}}"/>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                        <div class="d-flex align-items-center">
                                                            <i class="material-icons">playlist_add_check</i>
                                                            <span th:text="${#lists.size(task.user.id)} + '/1'"></span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                            <!--end of content list-->
                        </div>
                    </div>


                                <!--end of modal head-->

                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="/admin/fragments ::script"></script>
</body>

</html>