<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments ::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="layout layout-nav-side">
    <div th:replace="/admin/fragments ::navbar_top"></div>

    <div class="main-container">
        <div th:replace="/admin/fragments ::navbar"></div>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-lg-3 mb-3">
                    <ul class="nav nav-tabs flex-lg-column" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="true">[[${pageTitle}]]</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-8 col-lg-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <form th:action="@{/projects/save}" th:object="${projects}" method="post">
                                    <input type="hidden" id="id" th:field="*{id}">
                                    <div class="tab-pane fade show active" role="tabpanel" id="profile">
                                        <div class="media mb-4">
                                            <div class="media-body ml-3">
<!--                                                <div class="custom-file custom-file-naked d-block mb-1">-->
<!--                                                    <input type="file" name="image" accept="image/png, image/jpg" id="fileImage">-->

<!--                                                    <img alt="Photo Preview" id="thumbnail"-->
<!--                                                         th:src="@{${users.photosImagePath}}"-->
<!--                                                         class="avatar avatar-lg"/>-->
<!--                                                </div>-->
                                            </div>
                                        </div>
                                        <div class="form-group row align-items-center">
                                            <label class="col-3">Name Project :</label>
                                            <div class="col">
                                                <input type="text" placeholder="Enter your username"
                                                       name="profile-last-name" class="form-control"
                                                       th:field="*{name}" required/>
                                            </div>
                                        </div>
                                        <div class="form-group row align-items-center">
                                            <label class="col-3">Description</label>
                                            <div class="col">
                                                <input type="text" placeholder="Enter your password "
                                                       name="profile-last-name" class="form-control"
                                                       th:field="*{description}" required/>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="/admin/fragments ::script"></script>
</body>
</html>