<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments ::head">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="layout layout-nav-side">
    <div th:replace="/admin/fragments ::navbar_top"></div>

    <div class="main-container">
        <div th:replace="/admin/fragments ::navbar"></div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11 col-xl-10">
                    <div class="page-header">
                        <h1>Medium Rare &#x2615;</h1>
                        <p class="lead">A small web studio crafting lovely template products.</p>
                        <div class="d-flex align-items-center">
                            <ul class="avatars">

                                <li th:each="users : ${listAllUsers}">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Claire Connors">
                                        <img alt="Claire Connors" class="avatar" th:src="@{${users.photosImagePath}}"/>
                                    </a>
                                </li>

                            </ul>
                            <button class="btn btn-round flex-shrink-0" data-toggle="modal"
                                    data-target="#user-invite-modal">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#projects" role="tab"
                               aria-controls="projects" aria-selected="true">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#members" role="tab" aria-controls="members"
                               aria-selected="false">Members</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="projects" role="tabpanel"
                             data-filter-list="content-list-body">
                            <div class="content-list">
                                <div class="row content-list-head">
                                    <div class="col-auto">
                                        <h3>Projects</h3>
                                        <button class="btn btn-round" data-toggle="modal"
                                                data-target="#project-add-modal">
                                            <i class="material-icons"><a th:href="@{/projects/new}">add</a></i>
                                        </button>
                                    </div>
                                    <form class="col-md-auto">
                                        <div class="input-group input-group-round">
                                            <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_list</i>
                            </span>
                                            </div>
                                            <input type="search" class="form-control filter-list-input"
                                                   placeholder="Filter projects" aria-label="Filter Projects">
                                        </div>
                                    </form>
                                </div>
                                <!--end of content list head-->
                                <div class="content-list-body row">
                                    <th:block th:each="project : ${listAllProjects}">
                                    <div class="col-lg-6">
                                        <div class="card card-project">

                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar"
                                                     style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>

                                            <div class="card-body">
                                                <div class="dropdown card-options">
                                                    <button class="btn-options" type="button"
                                                            id="project-dropdown-button-1" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" th:href="@{'/projects/edit/'+${project.id}}">Edit</a>
                                                        <a class="dropdown-item" th:href="@{'/projects/delete/'+${project.id}}">Remove</a>
                                                    </div>
                                                </div>
                                                <div class="card-title">
                                                    <a href="#"><h5 data-filter-by="text">[[${project.name}]]</h5></a>
                                                </div>
                                                <ul class="avatars">

                                                    <li th:each="avatar : ${project.users}">
                                                        <a href="#" data-toggle="tooltip" th:title="${avatar.username}">
                                                            <img alt="Kenny Tran" class="avatar" th:src="@{${avatar.photosImagePath}}" />
                                                        </a>
                                                    </li>


                                                </ul>
                                                <div class="card-meta d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <i class="material-icons mr-1">playlist_add_check</i>
                                                        <span class="text-small">[[${#lists.size(project.users) + ' Members'}]]</span>
                                                    </div>
                                                    <span class="text-small" data-filter-by="text">Due [[${project.timeEnd.getDate() - project.timeStart.getDate()} + ' days']]</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    </th:block>
                                </div>
                                <!--end of content list body-->
                            </div>
                            <!--end of content list-->
                        </div>
                        <!--end of tab-->
                        <div class="tab-pane fade" id="members" role="tabpanel" data-filter-list="content-list-body">
                            <div class="content-list">
                                <div class="row content-list-head">
                                    <div class="col-auto">
                                        <h3>Members</h3>
                                        <button class="btn btn-round" data-toggle="modal"
                                                data-target="#user-invite-modal">
                                            <i class="material-icons"><a th:href="@{/users/new}">add</a></i>
                                        </button>
                                    </div>
                                    <form class="col-md-auto">
                                        <div class="input-group input-group-round">
                                            <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_list</i>
                            </span>
                                            </div>
                                            <input type="search" class="form-control filter-list-input"
                                                   placeholder="Filter members" aria-label="Filter Members">
                                        </div>
                                    </form>
                                </div>
                                <!--end of content list head-->
                                <div class="content-list-body row">
                                    <th:block th:each="user : ${listAllUsers}">
                                    <div class="col-6">
                                        <a class="media media-member" th:href="@{'/users/edit/'+${user.id}}">
                                            <img alt="Claire Connors" th:src="@{${user.photosImagePath}}"
                                                 class="avatar avatar-lg"/>
                                            <div class="media-body">
                                                <h6 class="mb-0" data-filter-by="text">[[${user.username}]]</h6>
                                                <span data-filter-by="text" class="text-body">[[${user.roles}]]</span>
                                            </div>
                                        </a>
                                    </div>

                                    </th:block>
                                </div>
                            </div>
                            <!--end of content list-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="/admin/fragments ::script"></script>
<script th:src="@{/admin/js/delete-function.js}"></script>
<script>
    $(document).ready(function () {
        $(".link-delete").on("click", function (event) {
            event.preventDefault();
            showDeleteConfirmModal($(this), 'user');
        });
    });
</script>
</body>
</html>