<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments ::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-container fullscreen">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-7">
                <div class="text-center">
                    <p class="lead">[[${message}]]</p>
                    <hr>
                        <h1><small>Congratulations ! Your account has been verified<a th:href="@{/login}">Login Now</a>
                        </small></h1>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>